.rounded-card {
    border-radius:40px;
  }
  #dropdown {
    max-width:500px;  
  }
  .selectBtn {
    padding-top: 15px;
    padding-left: 10px;
    max-width: 450px;
  
  }
  .mx-auto{
    padding-left: 30px;
  }
  .party-list{ /*내가 관심잇는 팟, 모든 팟, 드롭다운*/
    padding-left: 15px;
    font-size: xx-large;
    font-weight: bold;
  }

  h3{
    font-size: 24px;
    color: #121212;
  }
  
  
.party-list{
  padding-right: 50px;
  padding-left: 50px;
}